.tiptap-button-group {
    display: flex;
    position: relative;
    vertical-align: middle;

    &[data-orientation='vertical'] {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-width: max-content;

        > .tiptap-button {
            width: 100%;
        }
    }

    &[data-orientation='horizontal'] {
        flex-direction: row;
        align-items: center;
        gap: 0.125rem;
    }
}
