.tiptap.ProseMirror {
    h1,
    h2,
    h3,
    h4 {
        position: relative;
        color: inherit;
        font-style: inherit;

        &:first-child {
            margin-top: 0;
        }
    }

    h1 {
        margin-top: 3em;
        font-weight: 700;
        font-size: 1.5em;
    }

    h2 {
        margin-top: 2.5em;
        font-weight: 700;
        font-size: 1.25em;
    }

    h3 {
        margin-top: 2em;
        font-weight: 600;
        font-size: 1.125em;
    }

    h4 {
        margin-top: 2em;
        font-weight: 600;
        font-size: 1em;
    }
}
