/* Clash Display Font */
@font-face {
    font-style: normal;
    font-weight: 300;
    src:
        url('/fonts/ClashDisplay-Light.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Light.woff') format('woff');
    font-family: 'Clash Display';
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 400;
    src:
        url('/fonts/ClashDisplay-Regular.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Regular.woff') format('woff');
    font-family: 'Clash Display';
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 500;
    src:
        url('/fonts/ClashDisplay-Medium.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Medium.woff') format('woff');
    font-family: 'Clash Display';
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 600;
    src:
        url('/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Semibold.woff') format('woff');
    font-family: 'Clash Display';
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 700;
    src:
        url('/fonts/ClashDisplay-Bold.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Bold.woff') format('woff');
    font-family: 'Clash Display';
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}
