@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    --tt-toolbar-height: 44px;
    --tt-theme-text: var(--tt-gray-light-900);

    .dark & {
        --tt-theme-text: var(--tt-gray-dark-900);
    }
}

body {
    padding: 0;
    overscroll-behavior-y: none;
    color: var(--tt-theme-text);
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}

html,
body {
    overscroll-behavior-x: none;
}

html,
body,
#root,
#app {
    background-color: var(--tt-bg-color);
    height: 100%;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

* {
    scrollbar-color: var(--tt-scrollbar-color) transparent;
    scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: var(--tt-scrollbar-color);
}

::-webkit-scrollbar-track {
    background: transparent;
}

.tiptap.ProseMirror {
    font-family: 'DM Sans', sans-serif;
}

.simple-editor-wrapper {
    height: 100%;
    // overflow: auto;
}

.simple-editor-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 648px;
    height: 100%;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
    flex: 1;
    padding: 3rem 3rem 30vh;
}

@media screen and (max-width: 480px) {
    .simple-editor-content .tiptap.ProseMirror.simple-editor {
        padding: 1rem 1.5rem 30vh;
    }
}
